%h1 Listing visits

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @visits.order(:date, :asc).reverse.each do |visit|
      .columns
        .column.is-narrow= link_to visit.date, visit
        .column= truncate(visit.notes, :length => 80)
        .column.is-narrow= link_to 'Edit', edit_visit_path(visit)
        .column.is-narrow= link_to 'Destroy', visit, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Visit', new_visit_path
